*~
*#*

# CABAL
/dist
/dist-newstyle
/cabal-dev
/.cabal-sandbox
/cabal.sandbox.config
/cabal.project.local

# Haskell Program Coverage
/.hpc

# Intellij IDEA
/.idea
*.iml

*.swp

# Stack
.stack-work/
*.yaml



